<% if current_user.present? %>
  <%= render "admin_section" %>
<% end %>
<div class="w3-row">
  <div class="w3-col l3 m1">
    <p></p>
  </div>
  <div class="w3-col l6 m10">
    <% if @recipe.public? or (current_user.present?) %>
      <%= render 'recipe' %>
    <% else %>
      <%= render 'not_authorized' %>
    <% end %>
  <%= link_to 'Back', recipes_path %>
  </div>
  <div class="w3-col l3 m1">
    <p></p>
  </div>
</div>