<div class="hero-image">
</div>
<div class="w3-content ">
	<h2 class="w3-container">Dernieres recettes</h2>
	<section class="w3-row">
	<% @latest_published_recipes.each do |recipe| %>
		<article class="w3-col l4">
			<%= render "recipe_summary_card", recipe: recipe %>
		</article>
	<% end %>
	</section>

	<% if current_user.present? %>
		<%= render "admin_section"  %>
	<% end %>
</div>
