<h2>Dernieres recettes</h2>
<section class="w3-container">
<% @latest_recipes.each do |recipe| %>
	<article class="w3-section">
		<div class="w3-display-container">
			<%= link_to (image_tag recipe.photo.variant(resize_to_fill: [1000,600]), class: "w3-image w3-opacity w3-round w3-card") , recipe %>
			<h3 class="w3-display-bottomleft w3-margin w3-text-white"><%= recipe.title.upcase %></h3>
		</div>
	</article>
<% end %>
</section>



<p><%=	link_to "Recipes",  recipes_path %> | <%=	link_to "Categories", categories_path %></p>