<section class="w3-container">
	<h1 class="main-title">CATEGORIE: <%= @category.title.upcase %></h1>
	<%= image_tag @category.photo.variant(resize_to_fill: [150,150]), class: "w3-image w3-card w3-circle w3-left w3-margin-right" %>
	<p><%= markdown(@category.description) %></p>	
</section>

