<div class="hero-image">
</div>

<h2 class="w3-container">Toutes les cateogries</h2>
<section class="w3-row">
  <% @categories.each do |category| %>
    <%= render "category_summary_card", category: category %>
  <% end %>
</section>