<div class="w3-content ">
  <%= render 'nav' %>
  <%= render 'category' %>
  <h2 class="w3-container">Dans cette categorie</h2>
  <section class="w3-row">
  	<% @category.recipes.published.each do |recipe| %>
      <article class="w3-col l4">
  		  <%= render "recipe_summary_card", recipe: recipe %>
      </article>
  	<% end %>
  </section>
  <% if current_user.present? %>
	<%= render "admin_section" %>
  <% end %>
</div>