<nav class="w3-center w3-dark-gray ">
	<nav class="w3-bar">
	  <%=  link_to root_path, class: "w3-bar-item w3-button w3-hover-green" do %>
	  	<i class="fas fa-home"></i><span class="w3-hide-small w3-hide-medium"> Home</span>
	  <% end %>
	  <%=  link_to recipes_path, class: "w3-bar-item w3-button w3-hover-green" do %> 
	  	<i class="fas fa-apple-alt"></i><span class="w3-hide-small w3-hide-medium"> Toutes les recettes</span>
	  <% end %>
	  <%= link_to categories_path, class: "w3-bar-item w3-button w3-hover-green" do %>
	  	<i class="fas fa-tags"></i><span class="w3-hide-small w3-hide-medium"> Toutes les catégories</span>
	  <% end %>
	</nav>	
</nav>
