    <nav class="w3-margin">
      <%=  link_to "Home",  root_path %> | 
      <%=  link_to "Toutes les recettes",  recipes_path %> | 
      <%= link_to "Toutes les catégories", categories_path %>
    </nav>