<nav class="w3-bar w3-red">
  <%=  link_to "Home",  root_path, class: "w3-bar-item w3-button" %>
  <%=  link_to "Toutes les recettes",  recipes_path, class: "w3-bar-item w3-button" %> 
  <%= link_to "Toutes les catégories", categories_path, class: "w3-bar-item w3-button" %>
</nav>